<!DOCTYPE html>
<html>

<title>
        {{title}}
</title>

<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    {{>headers}}
    
    <h1>{{error}}</h1>
    
    {{>footers}}
</body>

</html>